<span class="text-gray-400 text-xs mb-1">Prerecordings</span>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3" *ngIf="state$ | async as state">
  <div
    class="flex items-center space-x-3"
    *ngFor="let rec of state.recordings; let index = index">
    <app-button (click)="play(rec)" class="flex-grow min-w-0">
      <div class="flex items-center space-x-3">
        <fa-icon [icon]="playIcon"></fa-icon>
        <div class="text-left text-sm">
          {{rec.content}}
        </div>
      </div>
    </app-button>
  </div>
</div>
