:host {
  @apply fixed top-0 bottom-0 left-0 right-0 bg-black bg-opacity-40 flex justify-center items-center;

  z-index: 100;
}

.spacer-top {
  height: env(safe-area-inset-top);

  @apply w-full bg-cyan-800;
}

.spacer-bottom {
  height: env(safe-area-inset-bottom)
}
