<ng-container *ngIf="state$ | async as state">
  <div class="flex-grow min-h-0 space-y-4 flex flex-col">

    <div *ngIf="error | async" class="bg-orange-100 border rounded-md border-orange-700 text-orange-700 px-3 py-2">
      {{error | async}}
    </div>

    <div *ngIf="(loginState | async) === 'success'" class="bg-green-100 border rounded-md border-green-700 text-green-700 px-3 py-2">
      Successfully logged in.
    </div>

    <app-input
      [heading]="'Email'"
      [placeholder]="'........@...'"
      [value]="state.settings.email"
      (valueChanged)="setEmail($event)"></app-input>
    <app-input
      [heading]="'Password'"
      [inputType]="'password'"
      [placeholder]="'........'"
      [value]="state.settings.password"
      (enterPressed)="doLogin()"
      (valueChanged)="setPassword($event)"></app-input>

    <div class="cursor-pointer underline text-gray-600" (click)="showAdvanced = !showAdvanced">
      {{showAdvanced ? 'Hide' : 'Show'}} advanced settings.
    </div>

    <div *ngIf="showAdvanced" class="space-y-4">
      <app-input
        [heading]="'Project ID'"
        [placeholder]="'chandalair-...'"
        [value]="state.settings.projectId"
        (valueChanged)="setProjectId($event)"></app-input>
      <app-input
        [heading]="'API Key'"
        [placeholder]="'AIzaS........'"
        [value]="state.settings.apiKey"
        (valueChanged)="setApiKey($event)"></app-input>
      <div>
        <app-input
          [heading]="'App ID'"
          [placeholder]="'1:949........'"
          [value]="state.settings.appId"
          (valueChanged)="setAppId($event)"></app-input>
        <a
          target="_blank"
          class="underline text-xs text-gray-500"
          href="https://console.firebase.google.com/"
          >https://console.firebase.google.com/</a
        >
      </div>
    </div>

  </div>

  <app-button *ngIf="state.canLogin && (loginState | async) !== 'success'"
    (click)="doLogin()"
    >Login</app-button>
  <app-button *ngIf="(loginState | async) === 'success'"
    (click)="doLogout()"
    >Logout</app-button>
</ng-container>
