<ng-container *ngIf="state$ | async as state">
  <div class="flex flex-col space-y-4 flex-grow min-h-0 overflow-y-auto">

    <div *ngIf="!isChrome" class="bg-orange-100 border rounded-md border-orange-700 text-orange-700 px-3 py-2">
      <fa-icon [icon]="triangleExclamation"></fa-icon>
      Audio probably only works with Chrome
    </div>

    <app-button (click)="requestPermission()" *ngIf="!state.hasPermission">Request permission</app-button>

    <div *ngIf="errorMessage"  class="bg-orange-100 text-red-500 rounded border p-1 border-red-500">
      An error occurred: {{ errorMessage }}
    </div>

    <ng-container *ngIf="state.hasPermission">
      <label
        class="flex flex-col bg-gray-200 rounded-md text-sm text-gray-500 pt-1 px-3 select-none">
        Output Speaker
        <select
          [ngModel]="state.selectedOutput?.deviceId"
          (ngModelChange)="setOutput($event)"
          class="bg-gray-200 rounded-md py-2">
          <option *ngFor="let output of state.outputs" [value]="output.deviceId">
            {{ output.label }}
          </option>
        </select>
      </label>

      <app-subheader [heading]="'Microphones'"></app-subheader>

      <div *ngFor="let microphone of state.microphones; trackBy: identify" class="flex-grow">
        <label
          class="bg-gray-200 rounded-md py-2 px-3 flex space-x-3 items-center">
          <input
            type="checkbox"
            (blur)="toggleInput(microphone, $event)"
            [attr.checked]="microphone.enabled ? true : undefined"
            class="h-4 w-4 rounded border-gray-300 text-teal-600 focus:ring-teal-600"/>
          <span class="text-sm uppercase px-3">{{ microphone.deviceName }}</span>
        </label>
        <div class="pl-10 mt-1">
          <div class="flex flex-col space-y-2">
            <app-input
              [heading]="'Prefix'"
              (valueChanged)="updatePrefix(microphone, $event)"
              [value]="microphone.prefix"></app-input>
            <div class="flex flex-col bg-gray-200 rounded-md px-3 py-2 space-y-1">
              <label class="text-sm text-gray-500">Mode</label>
              <label class="flex space-x-3 items-center">
                <input
                  type="radio"
                  value="user"
                  [name]="'type-' + microphone.deviceId"
                  [attr.checked]="microphone.role === 'user' ? true : undefined"
                  (change)="updateRole(microphone, 'user')"/>
                <app-explaination
                  [heading]="'user'"
                  [description]="
                  'Process speak as part of the users question'
                "></app-explaination>
              </label>
              <label class="flex space-x-3 items-center">
                <input
                  type="radio"
                  value="assistant"
                  [name]="'type-' + microphone.deviceId"
                  [attr.checked]="microphone.role === 'assistant' ? true : undefined"
                  (change)="updateRole(microphone, 'assistant')"/>
                <app-explaination
                  [heading]="'assistant'"
                  [description]="
                  'Process speak as part of the assistants response (regie)'
                "></app-explaination>
              </label>
            </div>
          </div>
        </div>
      </div>

      <app-button [disabled]="!state.ready" (click)="modal.dismiss()">Save</app-button>
    </ng-container>
  </div>
</ng-container>
