<ng-container *ngIf="state$ | async as state">
  <div class="flex flex-col space-y-4 flex-grow min-h-0 overflow-y-auto">
    <app-button (click)="requestPermission()" *ngIf="!state.hasPermission">Request permission</app-button>

    <ng-container *ngIf="state.hasPermission">
      <label
        class="flex flex-col bg-gray-200 rounded-md text-sm text-gray-500 pt-1 px-3 select-none">
        Output Speaker
        <select
          [ngModel]="state.selectedOutput?.deviceId"
          (ngModelChange)="setOutput($event)"
          class="bg-gray-200 rounded-md py-2">
          <option *ngFor="let output of state.outputs" [value]="output.deviceId">
            {{ output.label }}
          </option>
        </select>
      </label>

      <app-subheader [heading]="'Microphones'"></app-subheader>

      <div *ngFor="let microphone of state.microphones; trackBy: identify">
        <label
          class="bg-gray-200 rounded-md py-2 px-3 flex space-x-3 items-center">
          <input
            type="checkbox"
            (blur)="toggleInput(microphone, $event)"
            [attr.checked]="microphone.enabled ? true : undefined"
            class="h-4 w-4 rounded border-gray-300 text-teal-600 focus:ring-teal-600"/>
          <span class="text-sm uppercase px-3">{{ microphone.deviceName }}</span>
        </label>
<!--        <div class="pl-10 mt-1">-->
<!--          <div class="flex flex-col space-y-2">-->
<!--            <app-input-->
<!--              [heading]="'Name'"-->
<!--              #name-->
<!--              (valueChanged)="updateName(microphone, $event)"-->
<!--              [value]="microphone.name"></app-input>-->
<!--            <div class="flex flex-col bg-gray-200 rounded-md px-3 py-2 space-y-1">-->
<!--              <label class="text-sm text-gray-500">Mode</label>-->
<!--              <label class="flex space-x-3 items-center">-->
<!--                <input-->
<!--                  type="radio"-->
<!--                  value="OpenAI"-->
<!--                  [name]="'type-' + microphone.deviceId"-->
<!--                  [attr.checked]="microphone.mode === 'OpenAI' ? true : undefined"-->
<!--                  (change)="updateType(microphone, $event)"/>-->
<!--                <app-explaination-->
<!--                  [heading]="'OpenAI'"-->
<!--                  [description]="-->
<!--                  'Process input into text, ask open AI and convert it to speak'-->
<!--                "></app-explaination>-->
<!--              </label>-->
<!--              <label class="flex space-x-3 items-center">-->
<!--                <input-->
<!--                  type="radio"-->
<!--                  value="Regie"-->
<!--                  [name]="'type-' + microphone.deviceId"-->
<!--                  [attr.checked]="microphone.mode === 'Regie' ? true : undefined"-->
<!--                  (change)="updateType(microphone, $event)"/>-->
<!--                <app-explaination-->
<!--                  [heading]="'Regie'"-->
<!--                  [description]="-->
<!--                  'Process input into text and convert it to speak'-->
<!--                "></app-explaination>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>

      <app-button [disabled]="!state.ready" (click)="modal.dismiss()">Save</app-button>
    </ng-container>
  </div>
</ng-container>
