<ng-container *ngIf="state$ | async as state">
  <div class="flex flex-col flex-grow min-w-0 p-3 space-y-3">
    <div class="flex min-w-0 space-x-3">
      <div class="flex flex-grow min-w-0 space-x-3">
        <app-microphone-lane
          *ngFor="let mic of state.microphones"
          [microphone]="mic" (spoke)="spoke($event)"></app-microphone-lane>
      </div>
      <app-status></app-status>
      <app-button class="flex-shrink-0" (click)="openConfigurations(true)">
        <div class="flex items-center space-x-3">
          <fa-icon [icon]="settingsIcon"></fa-icon>
          <app-explaination class="my-1"
                            [heading]="'Configurations'"
                            [description]="'Credentials and Settings'"></app-explaination>
        </div>
      </app-button>
    </div>

    <app-transcript
      [systemMessage]="state.systemMessage"
      class="flex-grow min-h-0"></app-transcript>

      <app-override-lane class="shrink"></app-override-lane>
      <app-prerecoding-lane class="h-1/4 flex-shrink-0"></app-prerecoding-lane>
  </div>
</ng-container>
