
<ng-container *ngIf="state.type === 'initial' || (state.type === 'recording' && state.messages.length === 0)">
  <div *ngIf="language.type === 'loaded' && language.languages.length > 1"
       class="w-full mb-2 rounded-md border border-gray-300 text-gray-600 bg-white px-3 py-3">
    <label class="flex items-center justify-between">
      <fa-icon [icon]="languageIcon"></fa-icon>
      <select class="rounded border-0 outline-0 focus:outline-0 bg-white px-2 py-1"
              [ngModel]="language.current" (ngModelChange)="updateLanguage($event)">
        <option *ngFor="let lang of language.languages" [ngValue]="lang">{{lang.name}}</option>
      </select>
    </label>
  </div>
  <div class="rounded-md border text-center border-gray-300 text-gray-600 bg-white mb-8 px-3 py-3">
    <ng-container *ngIf="state.type === 'initial' && language.type === 'loaded'">
      {{language.current.intro}}
    </ng-container>
    <ng-container *ngIf="state.type === 'recording' && language.type === 'loaded' && state.messages.length === 0">
      {{language.current.record}}
    </ng-container>
  </div>

  <fa-icon [icon]="arrowIcon" class="text-2xl mb-8 text-gray-600 animate-bounce"></fa-icon>
</ng-container>

<div class="relative w-full flex flex-col justify-end flex-grow min-h-0 mb-12" *ngIf="state.type !== 'initial' && state.messages.length > 0">

  <div class="absolute top-0 left-0 w-full bg-gradient-to-b h-2/3 from-gray-100 to-transparent">

  </div>
  <div class="flex flex-col space-y-2 w-full overflow-hidden justify-end">
    <div *ngFor="let message of state.messages"
         [ngClass]="{'ml-8 self-end border-purple-300 text-purple-700': message.role === 'bot', 'mr-8 self-start border-gray-200': message.role === 'user'}"
         class="bg-white rounded  border px-4 py-2">
      {{message.content}}
    </div>
  </div>
</div>

<app-record-button (recorded)="recorded($event)" (recoding)="startRecording()"
                   [processing]="state.type === 'thinking' || state.type === 'running'"></app-record-button>
