<div class="flex items-center space-x-3">
  <app-input #input
    class="grow"
    [captureTab]="true"
    [heading]="'Override ' + destination"
    [placeholder]="'Press O to focus, <tab> to switch...'"
    [value]="value"
    (valueChanged)="valueChanged($event)"
    (keyDown)="keyDown($event)"></app-input>

    <div class="flex space-x-3">
      <div>Speed={{ ((rate$ | async) ?? 1.0).toFixed(2) }}</div>
      <input class="grow"
          type="range" min="0.5" max="1.5" step="0.05"
          [ngModel]="rate$ | async"
          (ngModelChange)="setRate($event)">
    </div>

    <label
      *ngIf="styles$ | async as styles"
      class="flex flex-col bg-gray-200 rounded-md text-sm text-gray-500 pt-1 px-3 select-none">
      Voice Style
      <select
        [ngModel]="(selectedStyle$ | async) || ''"
        (ngModelChange)="setStyle($event)"
        class="bg-gray-200 rounded-md py-2">
        <option *ngFor="let style of [''].concat(styles)" [value]="style">
          {{ style }}
        </option>
      </select>
    </label>

</div>
