<app-box-container class="flex space-x-3 h-full relative">
  <app-toggle
    #enabledToggle
    [enabled]="enabledMic"
    (enabledChanged)="toggleMicrophone($event)">
  </app-toggle>
  <app-explaination
    *ngIf="enabledToggle.enabled"
    [heading]="'Enabled'"
    [description]="microphone.name + (microphone.prefix ? ' (prefix=' + microphone.prefix + ')' : '')"></app-explaination>
  <app-explaination
    *ngIf="!enabledToggle.enabled"
    [heading]="'Disabled'"
    [description]="microphone.name"></app-explaination>

  <div class="absolute -bottom-2 bg-black rounded text-white px-2 text-xs">
    <fa-icon class="mr-1"></fa-icon>
    on/off: {{ index + 1 }}
  </div>

</app-box-container>
