<app-header [heading]="microphone.name" [description]="microphone.deviceName">
  <fa-icon [icon]="microphoneIcon" class="text-2xl"></fa-icon>
</app-header>

<app-box-container class="flex space-x-3">
  <app-toggle
    #enabledToggle
    [enabled]="enabledMic"
    (enabledChanged)="toggleMicrophone($event)">
  </app-toggle>
  <app-explaination
    *ngIf="enabledToggle.enabled"
    [heading]="'Enabled'"
    [description]="'Audio is processed to text'"></app-explaination>
  <app-explaination
    *ngIf="!enabledToggle.enabled"
    [heading]="'Disabled'"
    [description]="'Microphone is turned off'"></app-explaination>
</app-box-container>
