<app-box-container class="flex space-x-3">
  <app-toggle
    #enabledToggle
    [enabled]="enabledMic"
    (enabledChanged)="toggleMicrophone($event)">
  </app-toggle>
  <app-explaination
    *ngIf="enabledToggle.enabled"
    [heading]="'Enabled'"
    [description]="microphone.name + (microphone.prefix ? ' (prefix=' + microphone.prefix + ')' : '')"></app-explaination>
  <app-explaination
    *ngIf="!enabledToggle.enabled"
    [heading]="'Disabled'"
    [description]="microphone.name"></app-explaination>
</app-box-container>
