<div
  class="fixed z-20 bg-black h-screen w-screen flex flex-col min-h-0 bg-opacity-40 flex backdrop"
  [ngClass]="{
    'right-origin': origin === 'right',
    'bottom-origin': origin === 'bottom'
  }"
  (mousedown)="dismiss($event)">
  <div class="rounded-md modal-content relative flex flex-col w-full min-h-0">
    <div
      class="flex flex-col container relative min-h-0"
      [ngClass]="classNames"
      #container>
      <div class="spacer-top"></div>
      <div class="flex px-8 py-4 pb-3 justify-between bg-gray-50">
        <div class="flex flex-col">
          <div class="text-lg leading-6 font-medium text-gray-900">
            {{ title }}
          </div>
          <div class="max-w-2xl text-sm text-gray-500">{{ subtitle }}</div>
        </div>
        <button
          class="dismiss-modal"
          (click)="modal.dismiss(null)"
          *ngIf="canDismiss">
          <fa-icon
            [icon]="closeIcon"
            *ngIf="!hideClose"
            class="text-3xl cursor-pointer text-gray-600"></fa-icon>
        </button>
      </div>

      <div class="bg-gray-50 overflow-y-auto flex-grow min-h-0 flex flex-col">
        <ng-container #modalContent></ng-container>
        <div class="spacer-bottom"></div>
      </div>
    </div>
  </div>
</div>
